body {
  /* background: #ebebeb; */
  font-family: Heebo, sans-serif !important;
}

.App {
  height: -webkit-fill-available;
  /* background: #ebebeb; */
  font-family: Heebo, sans-serif !important;
}


/*
******* Header ********** */

.toolbar {
  /* color: white;
  background: #3d3d3d !important; */
  justify-content: center !important;
  display: flex;
  flex-wrap: wrap;
  /* border-bottom: 2px solid #ca885f; */
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}

.pagetop {
  display: flex;
  flex-direction: column;
}

.headerdivider {
  border: solid .7px #8080807a;
  width: 100%;
}

.appbar {
  position: static !important;
  color: black !important;
  background: whitesmoke !important;
  flex-direction: row !important;
}

.headerSearch {
  width: 80%;
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.blogheader {
  display: flex;
}

.blogheadermain {
  padding: 10px;
  font-weight: 100 !important;
  border: solid black 1px;
display: flex !important;
text-transform: uppercase;
align-items: center;
}

.blogheadertwo {
  padding: 10px;
}

.blogsearchpaper {
  text-align: center;
  padding: 10px;
}

.blogsearchpaper form {
  display: inline-flex;
}

.blogsearchpaper label {
  font-size: larger;
}

.blogsearchpaper input {
  padding: 19px 14px 4px 0px;
  text-align: right;
  /* background: white; */
}

.blogsearchpaper button {
  box-shadow: 0 2px 2px rgba(0, 0, 0, .00) !important;
  border-radius: 1px;
  background-color: white;
}

.displayCard {
  margin: 5px;
  /* background: #3d3d3d !important; */
  font-size: larger;
}

.toolbarDisplayGroup {
  font-size: 21px;
  /* color: white; */
  float: left;
}

.toolbarDisplayGroup div {
  padding: 4px 0px 4px 0px;
}

#currentTemp {
  font-weight: 500;
  font-size: larger;
  background: #eee;
  border-radius: .4rem;
  margin: 4px;
  padding: 2px;
  color: black;
}

#tempDisplay {
  font-weight: 600;
  background: #2f4f4fab;
  border-radius: .4rem;
  margin: 4px;
  padding: 2px;
  color: #eee;
}

.numbers {
  padding: 3px;
  color: #fff;
  display: inline;
  font-size: 20px;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

.temprange {
  background-color: rgba(110, 110, 110, 0.87);
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.tempoutput {
  background-color: rgba(167, 167, 167, 0.8);
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}



/*
*********Main********** */



.maindiv {
  /* width: 70%; */
  margin: auto;
}

.paperforsearchanddisplay {
  padding: 10px;
}

.mainFeaturedPost {
  /* background-color: #ebebeb;
  color: white; */
  margin: auto;
  margin-top: 15px;
}

.mainFeaturedPostContainer {
  flex-wrap: nowrap !important;
}

.mainDisplay {
  margin: auto !important;
  /* width: 80% */
}



/* ****Left Side********** */


.img-box {
  border-radius: 3px;
  max-height: 400px;
  margin: auto;
}

img {
  height: auto;
  max-width: 100%;
  max-height: 100%;
  background: center center no-repeat;
  background-size: contain;
  border-radius: 3px;
  display: flex;
  /* border: 1.5px solid #d8d8d8;
  ;
  box-shadow: 0 2px 2px rgba(0, 0, 0, .05) !important; */
  margin: auto;
}



/* *******Right Side *********** */


.styleList {
  /* margin-top: 15px !important; */
  background: #fff;
  border-radius: 3px;
  text-align: center;
  /* border: 1.5px solid #d8d8d8;
  ; */
  /* box-shadow: 0 2px 2px rgba(0, 0, 0, .05) !important; */
  margin: auto;
}

.styleList li {
  padding-left: 24px;
  padding-bottom: 5px;
  padding-right: 24px;
  padding-top: 5px;
  display: inline-block;
  text-align: center;
}

.styleList li span p {
  font-size: large;
}

.styleList span {
  font-size: large;
  color: gray;
}

.styleList p {
  font-size: large;
  float: right;
  color: black;
}

.searchitemgrid {
  margin: auto;
  align-self: center;
  ;
}

.GridContainer {
  justify-content: space-evenly;
}

.tempRangedisplayGroup {
  float: right;
}

.rightDiv {}

.style-div {
  display: inline-flex;
}

.style-div p {
  padding-left: 5px;
}

.tabdiv {
  background: whitesmoke;
  border-bottom: lightgray solid .3px;
  margin-bottom: 10px;
}

.radiogroupdiv {
  display: inline-block !important;
}

.sunsetList {
  display: flex;
  justify-content: space-evenly;
}

.sunsetCard {
  padding: 10px !important;
}

.mfForm {}

.mfForm legend {
  padding-top: 5px;
  padding-left: 5px;
}









/* ******Mobile Sizing ************ */



@media screen and (max-width: 600px) {
  .App {
    height: auto;
  }

  .maindiv {
    width: 100%;
  }

  .hiddenonmobile {
    display: none !important;
  }

  .blogsearchpaper {
    padding: 2px;
    flex-direction: row;
  }

  .blogsearchpaper label {
    display: none;
  }

  .blogsearchpaper div {
    margin: auto;
  }

  .GridContainer {
    flex-wrap: nowrap !important;
  }

  .styleDisplay {}

  .styleList {
    display: inline-flex;
    margin: 5px 0px 5px 0px !important;
    padding: 5px;
    margin: 0 !important;
  }

  .styleList li {
    padding: 1px !important;
    display: grid;
    justify-content: center;
  }

  .mainFeaturedPostContainer {
    flex-wrap: wrap !important;
  }

  .styleList span {
    font-size: medium !important;
  }

  .styleList p {
    font-size: medium !important;
    float: right;
    line-height: 1.2em;
    padding: 0;
    text-align: center;
  }

  .style-div {
    padding: 0 !important;
  }

  .mfDiv {
    display: flex;
  }

  .CardContent {
    padding: 5px !important;
  }

  .blogheadermain {
    font-size: large;
  }

  .paperforsearchanddisplay {
    padding: 2px;
  }

  input {
    padding: 7px !important;
    height: 100%;
  }

  button {
    padding: 5px !important;
  }

  .toolbarDisplayGroup {
    font-size: medium !important;
  }

  .appbar {
    flex-direction: column !important;
  }

  .pagetop {
    display: flex;
    flex-direction: column-reverse;

  }

  .headerdivider {
    display: none;
  }

  .displayGrid {
    display: flex;
    justify-content: center;
  }
}
