.App {
  /* background: whitesmoke; */
  height: -webkit-fill-auto;
  background: #ebebeb;
font-family: Heebo,sans-serif;
}

.toolbar {
  color: white;
  background: #1f1f1f !important;
      justify-content: center !important;
      display: flex;
      flex-wrap: wrap;
          border-bottom: 2px solid #ec5f17;
}
.pagetop {
  display: flex;
flex-direction: column;
}

.headerdivider {
border: solid .7px #8080807a;
width: 100%;
}


.appbar {
  position: static !important;
  color: black !important;
  background: whitesmoke !important;
  flex-direction: row !important;
}

.headerSearch {
  width: 80%;
  display: flex;
justify-content: space-between;
padding: 5px;
}

.blogheader {
  display: flex;
}

.blogheadermain {
  padding: 10px;
}
.blogheadertwo {
  padding: 10px;
}


.blogsearchpaper {
      text-align: center;
      padding: 10px;
      /* background: whitesmoke; */
}
.blogsearchpaper form{
        display: inline-flex;
}

.blogsearchpaper label{
      background: whitesmoke;
      font-size: larger;
}

.blogsearchpaper div{
      background: whitesmoke;
}

.blogdisplaypaper {
  margin: 5px;
  /* padding: 10px; */
  /* background: lightslategray !important; */
  background: #1f1f1f !important;
  font-size: larger;
}

.displayGroup{
    font-size: 21px;
    color: white;
    float: left;

}

.displayGroup div {
  padding: 4px 0px 4px 0px;
}

#currentTemp {
    font-weight: 500;
        font-size: larger;
    background: #eee;
    border-radius: .4rem;
    margin: 4px;
    padding: 2px;
    color: black;
}

#tempDisplay {
    font-weight: 600;
    background: #2f4f4fab;
    border-radius: .4rem;
    margin: 4px;
    padding: 2px;
    color: #eee;
}

.numbers {
    padding: 3px;
    color: #fff;
    display: inline;
    font-size: 20px;
    letter-spacing: 2px;
    margin-bottom: 10px;
}


.temprange {
    background-color: rgba(110,110,110,0.87);
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
.tempoutput {
    background-color: rgba(167,167,167,0.8);
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}


.maindiv {
  width: 80%;
  margin: auto;
}

.paperforsearchanddisplay {
  padding: 10px;
}

.mainFeaturedPost {
  background-color: #ebebeb;
  color: white;
margin: auto;
    margin-top: 5px;
}

.mainFeaturedPostContainer{
  flex-wrap: nowrap !important;
}

.mainDisplay {
  margin: auto !important;
  width: 80%

}



.img-box {
  border-radius: 3px;
  border: 1px solid #bdbab9;
}


img {
        max-width: 100%;
        max-height: 100%;
      background: center center no-repeat;
     background-size: contain;
}





.styleList{
  margin-top: 15px !important;
  background: #fff;
  border-radius: 3px;
  border: 1px solid #bdbab9;

}


.styleList li  {
  padding-left: 24px;
padding-bottom: 5px;
padding-right: 24px;
padding-top: 5px;
}

.styleList li span p {
  font-size: large;
}


.styleList span {
  font-size: large;
}

.styleList p {
  font-size:large;
  float: right;
}









.searchitemgrid {
  margin: auto;
      align-self: center;;
}


.GridContainer {
  justify-content: space-evenly;
}


.tempRangedisplayGroup {
  float: right;
}


.rightDiv {
  /* display: flex;
  flex-direction: column; */
}

.style-div {
  display: inline-flex;

}

.style-div p {
  padding-left: 5px;
}

.tabdiv {
  background: whitesmoke;
border-bottom: lightgray solid .3px;
    margin-bottom: 10px;
}





















@media screen and (max-width: 600px) {
  .hiddenonmobile {
    display: none !important;
  }

  .GridContainer{
    flex-wrap: nowrap !important;
  }

  .styleDisplay {

  }
  .styleList{
    display: inline-flex;

    margin: 10px 0px 10px 0px;

  }

  .styleList li {
    padding: 2px !important;
        display: inline-block;
  }

  .mainFeaturedPostContainer{
    flex-wrap: wrap !important;
  }



  .styleList span {
    font-size: medium !important;
  }

  .styleList p {
    font-size: medium !important;
    float: right;
  }

  .CardContent {
    padding: 5px !important;
  }

  .blogheadermain {
    font-size: large;
  }

  .paperforsearchanddisplay {
    padding: 2px;
}

input {
  padding: 7px !important;
}

button {
  padding: 5px !important;
}

.displayGroup {
  font-size: medium !important;
}

.appbar {
  flex-direction: column !important;
}


.pagetop {
  display: flex;
flex-direction: column-reverse;
}


}
